.createComment {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  &__textarea {
    width: 100%;
    height: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 2px solid var(--ui-border);
    resize: vertical;
    margin-left: 24px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 12px;
  }
  &__button {
    border: none;
    color: var(--off-primary);
    background-color: transparent;
    padding: 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    svg {
      font-size: 24px;
      margin-right: 10px;
    }
  }
}
