.menu {
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 200ms all ease-in-out;
    background-color: transparent;
    border: none;

    &:hover {
      color: #333;
    }
  }
  &__icon {
    margin-right: 12px;
    svg {
      font-size: 22px;
    }
  }
  &__text {
    font-size: 22px;
  }
}
