.createUser {
  width: 70vw;
  height: 70vh;
  background-color: white;
  display: flex;

  &__left {
    width: calc(100% - 500px);
    background-image: url(../../assets/images/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px #3affdd66;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 7vw;
    color: rgb(26 93 123 / 80%);
    font-family: fantasy;
    letter-spacing: 10px;
  }

  &__right {
    width: 500px;
    position: relative;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 22px;
    z-index: 999;
  }

  form {
    display: block;
    padding: 100px;
    position: absolute;
    inset: 0;
    overflow: auto;
  }

  &__header {
    font-size: 26px;
    margin-bottom: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__input {
    margin-bottom: 24px;
    label {
      display: block;
      width: 100%;
      margin-bottom: 12px;
    }
    input {
      display: block;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background-color: var(--ui-row);
      padding: 10px;
      border: 1px solid var(--ui-border);

      &:focus {
        outline: none;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px var(--ui-row) inset !important;
      }
    }
  }

  &__error {
    border: 2px solid var(--error);
    color: var(--error);
    background-color: #ff000012;
    padding: 10px;
    margin-bottom: 24px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    svg {
      font-size: 30px;
      margin-right: 12px;
    }
  }

  &__button {
    width: 100%;
    background-color: #24c9c9;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

    &Disabled {
      background-color: #eee;
      pointer-events: none;
    }
  }
}
