:root {
  --accept: #99d702;
  --warn: #d9bc03;
  --error: #f44336;

  --off-primary: #3c4256;

  --ui-row: #f3f5f7;
  --ui-row-hover: #dce1ea;
  --ui-border: #e3e6eb;
  --ui-text: #5a667b;
}
