body {
  font-family: monospace;
  color: var(--ui-text);
  font-size: 16px;
  background-color: #f7f9fb;
}

.wrapper {
  width: 1200px;
  margin: 0 auto 24px;

  @media screen and (max-width: 1248px) {
    width: 100%;
  }
}

.css-13cymwt-control {
  background-color: var(--ui-row) !important;
  border: none !important;
}

.css-b62m3t-container {
  outline: none !important;
}
