.newsFeed {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: 24px;
  row-gap: 24px;

  @media screen and (max-width: 1248px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 24px;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
